*{
    margin: 0;
    padding: 0;
}
:root{
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #573A37;
}
body{
    background: #573824 url("./img/bg-image.png");
    background-size: cover;
}

#page {
    width: 800px;
    box-sizing: border-box;
    padding: 24px;
    background-color: #f0e8c2 ;
    border-radius: 24px;
    margin: 48px auto 28px;
}
main{
    padding: 24px;
}
#about p + p {
    margin-top: 12px;
}
section +section{
    margin-top: 24px;
}
img{
    border-radius: 16px;
    width: 752px ;
    height: 400px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

h2{
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h1,h2,h3{
    color : #291b1a ;
    margin-bottom: 4px;
    line-height: 150%;
}
footer{
    color: #f0e8c2;
    text-align: center;
    padding-bottom: 48px;
}